<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.menus">
    	<menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      		<command
      			commandId="br.kreuch.plugin.tracer.trace"
        		label="Matriz de Rastreabilidade..." style="push">
      		</command>
    	</menuContribution>
  	</extension>
  	<extension point="org.eclipse.ui.commands">
    	<command
    		defaultHandler="br.kreuch.plugin.tracer.handler.TraceHandler"
      		id="br.kreuch.plugin.tracer.trace" name="Tracer">
    </command>
  </extension>
</plugin>
